*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(47, 182, 47);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#notify{
    width: 50%;
    height: 50vh;
    border: none;
    background-color:  #fefefe;
    padding: 1rem;
    box-shadow: 0 0 4rem rgb(78, 76, 76);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#not{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   

}

#start{
    width: 30%;
    padding: 1rem 0;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;
}

#start:hover{
    background-color: rgb(47, 182, 47) ;
}